.book-wrapper{
    margin: 0;
    padding: 0;
    border: 1px solid #F4D0CE;
    width: 100%;
    background: url(../assets/rectangle.png);
}

.bookshelf-fruitChef{
    margin-top: 95px;
    padding-top: 200px;
}

.card-fruitChef{
    height: 450px;
    border: 1px solid darkgray;
    margin-bottom: 50px;
    background-color: #ffffff;
}

.button-fruitChef {
    border-radius: 20px;
}