.MenuRecipe {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 40%;
    border-radius: 4px;
    height: 250px;
    /* border: 1px solid darkgrey; */
    margin-top: 10pc;
    box-shadow: 2px 4px 16px 2px rgba(0,0,0,0.4);
}

.MenuRecipeImage {
    height: 100%;
    width: 50%;
    float: left;
    border: 1px solid darkgrey;
    border-radius: 6px;
}

.MenuRecipeDetail {
    height: 100%;
    width: 50%;
    float: right;
    /* border: 1px solid darkgrey; */
    padding: 5px 20px;
}

.MenuRecipeImage > img {
    height: 100%;
    width: 100%;
    /* border: 1px solid darkgrey */
}

@media(max-width:417px){
    .MenuRecipe {
        background-color: white;
        margin: auto;
        padding: 20px;
        width: 93%;
        border-radius: 4px;
        height: 279px;
        /* border: 1px solid darkgrey; */
        margin-top: 10pc;
        box-shadow: 2px 4px 16px 2px rgba(0,0,0,0.4);
    }
}